@import "tailwindcss";

.react-photo-album--photo {
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.react-photo-album--photo:hover {
  transform: scale(1.02);
  cursor: pointer;
}


body {
  background-color: transparent;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
